{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
    <div class="container" id="feedapp">
        <div class="columns">
            <div class="column is-12">
                <div class="wrapper-form">
                    <form v-on:submit.prevent="submitPost()">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" v-model="body" placeholder="What are you thinking?"></textarea>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button class="button is-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="wrapper-posts">
                    <div class="post" v-for="post in posts">
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img :src="post.creater_avatar">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>[[ post.creater ]]</strong>
                                        <small>[[ post.created_at ]]</small>
                                        <br>
                                        [[ post.body ]]
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% for post in posts %}
                        <div class="post">
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-64x64">
                                        {% if post.created_by.snewsfeedprofile.avatar %}
                                            <img src="{{ post.created_by.snewsfeedprofile.avatar.url }}">
                                        {% endif %}
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong><a href="{% url 'profile' post.created_by.username %}">{{ post.created_by.username }}</a></strong>
                                            <small>{{ post.created_at|naturaltime }}</small>
                                            <br>
                                            {{ post.body }}
                                            <br>
                                            <a @click="likePost({{ post.id }})" v-if="!liked_posts.includes({{ post.id }})">Like</a>
                                            <span v-if="liked_posts.includes({{ post.id }})">Liked</span>
                                            <small id="likes-{{ post.id }}">{{ post.likes.count }} likes</small>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    new Vue({
        el: '#feedapp',
        delimiters: ['[[', ']]'],
        data () {
            return {
                posts: [],
                body: '',
                creater: '{{ request.user.username }}',
                created_at: 'Now',
                creater_avatar: '{% if request.user.snewsfeedprofile.avatar %}{{ request.user.snewsfeedprofile.avatar.url }}{% endif %}',
                liked_posts: [{% for post in posts %}{% if post.liked %}{{ post.id }}, {% endif %}{% endfor %}]
            }
        },
        methods: {
            likePost(post_id) {
                this.liked_posts.push(parseInt(post_id))

                var post = {
                    'post_id': post_id
                }

                fetch('/api/add_like/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(post)
                }).then((response) => {
                    console.log(response);
                }).catch((error) => {
                    console.log(error);
                });

                like_el = document.getElementById('likes-' + post_id);
                likes = parseInt(like_el.innerHTML.split(' ')[0]) + 1;
                if (likes > 1) {
                    like_el.innerHTML = likes + ' likes';
                } else {
                    like_el.innerHTML = likes + ' like';
                }
            },
            submitPost() {
                console.log('submitPost');

                if (this.body.length > 0) {
                    var post = {
                        'body': this.body,
                        'creater': this.creater,
                        'created_at': this.created_at,
                        'creater_avatar': this.creater_avatar
                    };

                    this.posts.unshift(post);

                    fetch('/api/add_post/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(post)
                    }).then((response) => {
                        console.log(response);
                    }).catch((error) => {
                        console.log(error);
                    });
                }

                this.body = '';
            }
        } 
    })
</script>
{% endblock %}